<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
     <add key="Body" value="Tete de Envio" />
     <add key="Host" value="smtp.gmail.com"/>
     <add key="Port" value="587"/>
     <add key="SSL" value="true"/>
     <add key="FromEmail" value="email do remetente"/> 
     <add key="Username" value="email"/>
     <add key="Password" value="senha"/>
     <add key="Directory" value="diretorio onde estão as pastas dos RCA"/>
   </appSettings>
</configuration>